/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="ez.scss" />

body {
  * {
    box-sizing: border-box;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &-gap-10 {
    gap: 10px;
  }
  &-gap-z {
    gap: 0px;
  }
  * {
    box-sizing: border-box;
  }
}
