button,
.btn {
  font-weight: 600;
  font-family: $font-main;
  font-size: 1rem;
  &-primary,
  &-secondary {
    border: none;
    padding: 0.2rem 1.2rem;
    min-width: 150px;
    // border-radius: 0.5rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    filter: $drop-shadow;
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
  &-primary {
    background-color: $color-orange;
    color: $color-black;
    &:hover,
    &:focus {
      background-color: darken($color-orange, 10%);
    }
  }
  &-secondary {
    background-color: $color-blue;
    color: $color-white;
    &:hover,
    &:focus {
      background-color: darken($color-blue, 10%);
    }
  }
  &-tertiary {
    color: $color-black;
    background-color: transparent;
    text-decoration: underline;
    &::after {
      content: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.5462 3.9126C13.4236 3.80088 13.2616 3.74246 13.0958 3.75019C12.9301 3.75793 12.7742 3.83119 12.6625 3.95385C12.5508 4.07651 12.4924 4.23853 12.5001 4.40427C12.5078 4.57 12.5811 4.72588 12.7038 4.8376L20.4125 11.8751H3.125C2.95924 11.8751 2.80027 11.9409 2.68306 12.0582C2.56585 12.1754 2.5 12.3343 2.5 12.5001C2.5 12.6659 2.56585 12.8248 2.68306 12.942C2.80027 13.0593 2.95924 13.1251 3.125 13.1251H20.41L12.7038 20.1601C12.5813 20.2718 12.5082 20.4276 12.5005 20.5932C12.4929 20.7589 12.5514 20.9207 12.6631 21.0432C12.7748 21.1657 12.9307 21.2388 13.0963 21.2464C13.2619 21.2541 13.4238 21.1956 13.5462 21.0838L22.1912 13.1913C22.288 13.1038 22.3654 12.997 22.4183 12.8777C22.4713 12.7584 22.4986 12.6293 22.4986 12.4988C22.4986 12.3683 22.4713 12.2393 22.4183 12.12C22.3654 12.0007 22.288 11.8939 22.1912 11.8063L13.5462 3.9126Z' fill='black'/></svg>");
      margin-left: 0.5rem;
      position: relative;
      top: 5px;
      transition: all 0.3s ease-in-out;
    }
    &:hover,
    &:focus {
      &::after {
        margin-left: 0.7rem;
      }
    }
  }
  &-remove{
    text-transform: uppercase;
    &::after {
      content: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_153_2)"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 3V1.5C11 1.10218 10.842 0.720644 10.5607 0.43934C10.2794 0.158035 9.89782 0 9.5 0L5.5 0C5.10218 0 4.72064 0.158035 4.43934 0.43934C4.15804 0.720644 4 1.10218 4 1.5V3H0V4H1V13.5C1 13.8978 1.15804 14.2794 1.43934 14.5607C1.72064 14.842 2.10218 15 2.5 15H12.5C12.8978 15 13.2794 14.842 13.5607 14.5607C13.842 14.2794 14 13.8978 14 13.5V4H15V3H11ZM5 1.5C5 1.36739 5.05268 1.24021 5.14645 1.14645C5.24021 1.05268 5.36739 1 5.5 1H9.5C9.63261 1 9.75979 1.05268 9.85355 1.14645C9.94732 1.24021 10 1.36739 10 1.5V3H5V1.5ZM7 7V12H8V7H7ZM4 12V9H5V12H4ZM10 9V12H11V9H10Z" fill="black"/></g><defs><clipPath id="clip0_153_2"><rect width="15" height="15" fill="white"/></clipPath></defs></svg>');
      top: 0;
    }
    &:hover,
    &:focus {
      font-weight: 700;
      &::after {
        margin-left: 0.5rem;
      }
    }
  }
}
