.popup {
  position: absolute;
  z-index: 2;
  background-color: $color-light-beige;
  box-shadow: 1px 2px 5px #858585;
  border-radius: 5px;
  max-height: 90vh;
  overflow-x: scroll;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.welcome-popup {
  position: absolute;
  width: 90%;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .row {
    height: 100%;
    img {
      width: 30%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .cont {
      width: 60%;
      position: relative;
      .text-content {
        position: absolute;
        bottom: 50px;
      }
    }
  }
}

.popup-right {
  right: 30px;
  top: 70px;
  width: 90%;
  max-width: 700px;
}

.experience-form {
}
