// fonts
$font-main: 'Cairo', sans-serif;
$font-heading: 'Fredoka', sans-serif;

// colors
$color-black: #241B14;
$color-white: #FFFFFF;
$color-light-beige: #F5F5EF;
$color-orange: #F76C1E;
$color-blue: #376B77;
$color-dark-blue: #203E46;
$color-brown: #A25140;
